 .iconCard {
    color: var(--main-bgcolor) !important;
}
.cardsSection {
    padding: 50px 100px;
}

@media screen and (max-width: 767px) {
    .cardsSection {
        padding: 50px 70px;
    }
}
@media screen and (max-width: 601px) {
    .cardsSection {
        padding: 50px 20px;
    }
}